{% extends 'base.html' %}
{% block main %}
    <h1>
        <a href="">
            <img src="../logo/220_20220326204201.png" width="200" hight="100" alt="bloom">
        </a>
    </h1>
    <h5 align="right">
        <span>画像をアップロードしてピンを立てる</span>
        <form method="POST" enctype = "multipart/form-data">
            <p>
                <input type=file name=file>
                <input type=submit value=Upload>
            </p>
        </form>
    </h5>
    <div id="mapid"></div>
    <script src="../js/map.js"></script>
    <br>
    <h2>画像をアップロードしてピンを立てる</h2>
    <form method="POST" enctype = "multipart/form-data">
        <p>
            <input type=file name=file>
            <input type=submit value=Upload>
        </p>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}